
<ion-content [fullscreen]="true">
  <div class="container">
    <h2>User List</h2>
    <input type="search" id="search" name="search" placeholder="Search by name..." autocomplete="off" (change)="searchUser($event)">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile Number</th>
          <th>Pincode</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of paginatedUsers">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.mobileNumber }}</td>
          <td>{{ user.pincode }}</td>
          <td>
            <ion-icon name="create-outline" (click)="editUser(user.id)"></ion-icon>
            <ion-icon name="trash-outline" (click)="deleteUser(user.id)"></ion-icon>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pagination">
      <button (click)="changePage(-1)" [disabled]="currentPage === 1">Previous</button>
      <span>{{ currentPage }} / {{ totalPages }}</span>
      <button (click)="changePage(1)" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
</ion-content>
