<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>forgot-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="isShowForgotPassword">
    <h2>Forgot Password</h2>
    <p>Enter your email address below, and we'll send you a link to reset your password.</p>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotEmailFed()">
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" />
        <app-form-errors
          [submitted]="isFormSubmitted"
          
          class="valid-msg"
          *ngIf="forgotPasswordForm.controls['email'] && forgotPasswordForm.controls['email'].errors && (isFormSubmitted||forgotPasswordForm.controls['email'].touched)"
          [formController]="forgotPasswordForm.controls['email']"
      >
      </app-form-errors>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
  <div *ngIf="isShowOTP">
    <h2>OTP Verification</h2>
    <p>Enter the OTP sent to your email or mobile number:</p>
    <form [formGroup]="OTPForm" (ngSubmit)="onSubmitOTP()">
      <div>
        <label for="otp">OTP:</label>
        <input type="text" minlength="4" id="otp" formControlName="otp" name="otp" required />
        <app-form-errors
          [submitted]="isResetPaswordFormSubmitted"
          
          class="valid-msg"
          *ngIf="OTPForm.controls['otp'] && OTPForm.controls['otp'].errors && (isFormSubmitted||OTPForm.controls['otp'].touched)"
          [formController]="OTPForm.controls['otp']"
      >
      </app-form-errors>
      </div>
      <button type="submit">Verify</button>
      <button [disabled]="!showResendOTP" [ngClass]="{ 'disabled' : !showResendOTP }" (click)="showResendOTP ? startTimer() : '' ">Resend OTP</button>
    </form>
  </div>

  <div *ngIf="isShowResetPassword">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitResetForm()">
      <div>
        <label for="password">New Password:</label>
        <input type="password" formControlName="password" />
        <app-form-errors
          [submitted]="isResetPaswordFormSubmitted"
          
          class="valid-msg"
          *ngIf="resetPasswordForm.controls['password'] && resetPasswordForm.controls['password'].errors && (isFormSubmitted||resetPasswordForm.controls['password'].touched)"
          [formController]="resetPasswordForm.controls['password']"
      >
      </app-form-errors>
      </div>
      <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" formControlName="confirmPassword" />
        <app-form-errors
          [submitted]="isResetPaswordFormSubmitted"
          
          class="valid-msg"
          *ngIf="resetPasswordForm.controls['confirmPassword'] && resetPasswordForm.controls['confirmPassword'].errors && (isFormSubmitted||resetPasswordForm.controls['confirmPassword'].touched)"
          [formController]="resetPasswordForm.controls['confirmPassword']"
      >
      </app-form-errors>
      </div>
      <p class="valid-msg" *ngIf=" isResetPaswordFormSubmitted && resetPasswordForm.controls['confirmPassword'].value == resetPasswordForm.controls['password'].value">
        Passwords didn't Match
      </p>
      <button type="submit">Reset</button>
    </form>
  </div>

</ion-content>
